* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #222;
  font-family: "TT Hoves Pro Trial", sans-serif;
}

p {
  font-size: calc(1vw + 14.3px);
}

section {
  /* margin: 0 120px 160px; */
  /* margin: 0 calc(10.6vw - 15.8px) calc(11vw + 18.6px); */
  padding: 0 calc(10.6vw - 15.8px);
  margin-bottom: calc(11vw + 18.6px);
}

.logo {
  margin: 37px 0 85px;
  width: 295px;
  height: 41px;
}

.containerData {
  display: flex;
  gap: 30px 161px;
  flex-wrap: wrap;
  margin-bottom: 76px;
}

.title {
  font-size: 21px;
  line-height: 140%;
}

.subtitle {
  font-size: 21px;
  line-height: 140%;
  font-weight: 700;
}

.headerText {
  font-family: "Chava";
  font-size: 80px;
  line-height: 110%;
  /* 88px */
  margin-bottom: 40px;
}

.headerParagraph {
  font-size: 27px;
  font-weight: 300;
  line-height: 140%;
  /* 37.8px */
  max-width: 930px;
  margin-bottom: 20px;
}

.primary {
  width: 328px;
  border-radius: 12px;
  background: #6e3aba;
  padding: 20px 0;
  border: 2px solid #6e3aba;
  font-size: 18px;
  color: #fff;
}

.secondary {
  width: 328px;
  border-radius: 12px;
  background: #fff;
  padding: 20px 0;
  border: 1px solid #6e3aba;
  font-size: 18px;
  color: #6e3aba;
  margin-left: 30px;
}

/* .containerData1{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.suggestion {
  flex-wrap: wrap;
}

.courseforu {
  font-size: calc(2.7vw + 24px);
  letter-spacing: 0.58px;
  text-transform: uppercase;
  /* width: 769px; */
  font-weight: 500;
  margin-bottom: calc(2.2vw + 31.7px);
}

.box {
  display: flex;
  gap: calc(3.3vw + 27.6px);
}

.box1 {
  margin-bottom: calc(1.1vw + 35.8px);
}

.CardData {
  flex: 1 1 50%;
}

.CardData img {
  margin-bottom: 10px;
}

.CardData .heading {
  margin-bottom: calc(1.1vw + 6px);
}

@media (max-width: 700px) {
  .box {
    flex-wrap: wrap;
  }
}

/* .cardData1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 450px;
}

.cardData2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 450px;
}

.cardData3 {
  margin: 0 70px 52px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 432px;
}

.cardData4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 90px;
  width: 477px;
} */

.pic1 {
  width: 254px;
  height: 254px;
  flex-shrink: 0;
}

.heading {
  font-size: calc(1vw + 14.3px);
  font-weight: 600;
  line-height: 140%;
  text-transform: uppercase;
}

.paragraph1 {
  color: var(--typo-black, #222);
  font-size: 27px;
  line-height: 140%;
  width: 450px;
  padding-top: 20px;
}

.pic2 {
  width: 254px;
  height: 254px;
  flex-shrink: 0;
}

.paragraph2 {
  color: var(--typo-black, #222);
  font-size: 27px;
  line-height: 140%;
  width: 450px;
  padding-top: 20px;
}

.pic3 {
  width: 192px;
  height: 192px;
  flex-shrink: 0;
}

.paragraph3 {
  color: var(--typo-black, #222);
  font-size: 27px;
  line-height: 140%;
  width: 477px;
  padding-top: 20px;
}

.pic4 {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
}

.paragraph4 {
  color: var(--typo-black, #222);
  font-size: 27px;
  line-height: 140%;
  width: 477px;
  padding-top: 20px;
}

/*SaleContainer */
.sale_container {
  background-color: #6e3aba;
  padding-top: calc(4vw + 23.4px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sale_container h1 {
  color: #fff;
  font-family: "TT Hoves Pro Trial";
  font-size: calc(2vw + 26.5px);
  font-weight: 700;
  letter-spacing: 1.56px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: calc(4vw + 4.6px);
}

.time {
  display: flex;
  gap: calc(6vw + 7.2px);
  margin: 0 auto;
}

.time_card {
}

.time_card h2 {
  font-size: calc(12.6vw + 13px);
  font-family: "Chava";
  line-height: 107.5%;
}

.time_card p {
  color: #2f1d4e;
  text-align: center;
  font-family: "TT Hoves Pro trial";
  font-size: 27px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: calc(6.2vw + 8.3px);
}

.sale_container .secondary {
  margin-bottom: calc(5.1vw + 21.5px);
}

/*legend*/

.legend h2{
  color: #222;
  font-family: "TT Hoves Pro Trial";
  font-size: 58px;
  font-weight: 500;
  letter-spacing: 0.58px;
  text-transform: uppercase;
  margin-bottom: calc(5.5vw + 19.3px);
}

.legendWrap{
  display: flex;
  gap: 0 51px;
}

.speaker{
  width: calc(7.8vw + 300px);
}

.legendProfile  h3 {
  color: #222;
  font-family: "TT Hoves Pro Trial";
  font-size: 48px;
  font-weight: 700px;
  line-height: 120%;
  margin-bottom: 20px;
}

.legendProfile p{
  color: #222;
  font-family: "TT Hoves Pro Trial";
  font-size: 27px;
  line-height: 140%;
  max-width: 566px;
  margin-bottom: 90px;
}

.emojiCards {
  display: flex;
  gap: 0 90px;
}

.emojiCard {
  max-width: 250px;
}

.emojiCard p{
  font-family: "TT Hoves Pro Trial";
  font-size: 21px;
  max-width: 250px;
}

@media (max-width:1100px) {
  .legendWrap{
    flex-direction: column;
  }
  .speaker{
    width: 100%;
  }
  .emojiContainer{
    display: flex;
  }
  .emojiCards {
    flex-direction: column;
  }
  .emojiCards:nth-child(2){
    flex-direction: column-reverse;
  }

}

/*coursePackage*/
.durationTitle{
  color: #222;
  font-family: "TT Hoves Pro Trial";
  font-size: calc(2.6vw + 24px);
  font-weight: 500;
  letter-spacing: 0.58px;
  text-transform: uppercase;
  margin-bottom: calc(7.7vw + 9px);
}

.studyPlan{
 
}

.learningProgram{
  display: flex;
  gap: 0 120px;
  margin-bottom: 52px;
  
}

.offer{
  max-width: 400px;

}

.offer h5{
  color: #222;
  font-family: "TT Hoves Pro Trial";
  font-size: 27px;
  font-weight: 600;
  line-height: 140%; /* 37.8px */
  text-transform: uppercase;
  margin-bottom: calc(1.1vw + 5.8px);
}

.offer p{
  color: #222;
  font-family: "TT Hoves Pro Trial";
  font-size: 27px;
  line-height: 140%; /* 37.8px */
}

@media(max-width:1100px) {
  .studyPlan{
    flex-direction: column;
  }
  .learningProgram{
    display: flex;
  }
}

/* CourseProgram Start */
.courseProgramWrapper {
  border: 2px solid black;
  padding: 81px 52px 35px 64px;
  position: relative;
}

.courseProgramWrapper h2 {
  font-size: 58px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.lesson {
  list-style: none;
  padding-left: 0;
  margin-bottom: 34px;
}

.lesson li {
  padding: 24px 0;
  border-bottom: 1px solid black;
  font-size: 21px;
  line-height: 140%;
}

.lesson li:nth-child(1) {
  padding-top: 0;
}

.courseProgramWrapper .primary {
  margin: 0 auto;
  display: block;
}

.corner {
  width: 100px;
  height: 100px;
  position: absolute;

  top: -3px;
  right: -6px;
  z-index: 1;
}

.corner img {
  width: 100%;
  height: 100%;
}

.coersProgram .primary {
  display: block;
  margin: auto;
}

/*Feedback Start*/
.feedback h2 {
  font-size: 58px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.feedbackWrapper {
  display: flex;
  gap: 30px;
}

@media (max-width: 1000px) {
  .feedbackWrapper {
    flex-wrap: wrap;
  }
}

.feedbackCard {
  padding: 50px 20px;
  border-radius: 12px;
  background: #f0f7fd;
}

.feedbackUser {
  display: flex;
  gap: 16px;
  align-items: center;
}

/*About Us*/
h2 {
  font-size: calc(2.6vw + 24px);
  font-weight: 500;
  letter-spacing: 0.58px;
  text-transform: uppercase;
}

.aboutUs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 97px;
  margin-top: 80px;
  grid-template-areas:
    "a b"
    "c d";
}

.aboutUs img {
  grid-area: a;
}

.aboutUs student {
  grid-area: b;
}

.aboutUs .title {
  font-size: calc(2.6vw + 24px);
  font-weight: 700;
  letter-spacing: 0.58px;
}

.aboutUs .value {
  font-size: calc(1vw + 12px);
  line-height: 140%;
}

.aboutUs .desc {
  font-size: calc(0.5 vw + 20px);
  font-weight: 600;
  line-height: 140%;
  text-transform: uppercase;
  grid-area: c;
}

.aboutUs .infoAboutUs {
  grid-area: d;
}

@media (max-width: 600px) {
  .aboutUs {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1100px) {
}

@media (max-width: 920px) {
  .courseProgramWrapper .primary {
    display: none;
  }

  .mobile.primary {
    display: block;
    margin-top: 30px;
  }

  .lesson li:last-child {
    border-bottom: none;
  }
}
